# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: CI

on: [push]

jobs:
  code-quality:
    runs-on: ubuntu-latest
    name: Code quality
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "yarn"
          cache-dependency-path: "yarn.lock"

      - name: Install the packages
        run: yarn install --frozen-lockfile

      - name: Build the code
        run: yarn build:ci

      - name: Type check (for tests)
        run: yarn type-check

      - name: Check formatting
        run: yarn format:check

  e2e:
    runs-on: ubuntu-latest
    name: E2E tests
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: "yarn"
          cache-dependency-path: "yarn.lock"

      - name: Install the packages
        run: yarn install --frozen-lockfile --ignore-engines

      - name: Build the code
        run: yarn build

      - name: Run the E2E tests
        run: yarn test:e2e

  tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        node-version: [20]

    name: Tests / OS ${{ matrix.os }} / NodeJS ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: "yarn.lock"

      - name: Install the packages
        run: yarn install --frozen-lockfile

      - name: Build the code
        run: yarn build:ts

      - name: Run the unit tests
        run: yarn test

      - name: Run the prettier2 unit tests
        run: yarn --cwd packages/prettier-plugin-liquid test

      - name: Run the prettier2 idempotence tests
        run: yarn --cwd packages/prettier-plugin-liquid test:idempotence

      - name: Run the prettier3 unit tests
        run: yarn --cwd packages/prettier-plugin-liquid test:3

      - name: Run the prettier3 idempotence tests
        run: yarn --cwd packages/prettier-plugin-liquid test:idempotence:3
